body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.case-title-description{
   margin-top: -1%; 
  text-transform: none;
  font-size:20px;
  font-weight: normal;
  font-style: italic; 
  color:#999; letter-spacing:-0.005em; word-spacing:1px;
  letter-spacing:none;
}
.case-title-text {
  font-size: 40px;
  font-weight: 700; color:#202020;
  text-transform: uppercase;
  word-spacing: 1px; letter-spacing:2px;
}


.container {
  top: 20%;
  height: 70%;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.sub-container {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  background-color: white;
}

.ai-expert-container {
  position: fixed;
  width: 30%;
  right: 10%;
  top: 18%;
  height: 70%;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.general-sub-container{
  overflow: auto;
}

.key-moment-container {
  position: fixed;
  overflow-y: auto;
  max-height: 80vh;
  width: 40%;
  left: 10%;
}

hr {
  border: none;
  border-top: 2px dotted gray;
  color: #fff;
  background-color: #fff;
  height: 1px;
  width: 90%;
}

.desc {
  font-size: 0.9rem;
  color: #666;
  margin: 10px 0;
  max-height: 60px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.key-moment {
  width: 90%;
  background-color: white;
  border-radius: 10px;
  margin-left:3%;
  padding: 13px;
}


.opinion-button-ai {
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  flex-shrink: 0;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.opinion-button-ai:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.opinion-button-ai:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.opinion-button-ai:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}
.opinion-button-ai:disabled,
.opinion-button-ai[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
  box-shadow: none;
  transform: none;
  transition: none;
}

.key-moment-timestamp {
  font-size: 0.7rem;
  text-decoration: underline;
  font-style: italic;
  text-align: left;
  padding: 5px;
  border-radius: 15;
}

.case-title-container {
  position: fixed;
  top: 7%;
  left: 9%; 
  width: 47%;
  align-items: center;  
}

.case-title-subtitle {
  font-style: italic;
}


.title-double-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 0%;

}

.opinion-button {
  background-color: #007BFF;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: auto;
  align-self: center;
}
.opinion-button:hover {
  background-color: #0056b3;
}

.wholeBody {
  background-color: #f8f9fa;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.headerCase {
  text-align: center;
  margin: 20px 0;
  padding: 20px;
}

.headerCase h1 {
  font-size: 4rem;
  color: #333333;
  font-family: 'Georgia', serif;
  font-weight: bold;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.case-list {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 10px;
}

.case {
  position: relative;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  width: 250px;
  height: 350px;
  cursor: pointer;
  overflow: hidden;
  background-color: #ffffff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
}

.case:hover {
  transform: scale(1.02);
}

.case-column {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.case-column.center .case {
  width: 500px;
  height: 742px;
}

.case-thumbnail {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
}

.case-column.center .case-thumbnail {
  width: 100%;
  height: 500px;
  object-fit: cover;
  border-radius: 12px;
}

.status {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
  color: #333;
}

.double-buttons {
  position: absolute;
  left: 64%; 
  top: 6%;
  display: flex;
  gap: 10px;
}

.green-button:hover , .red-button:hover {
  transform: scale(1.02);
}

.green-button, .red-button {
  width: 175px;
  height: 80px;
  font-size: 18px;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
}

.disclaimer {
  position: absolute;
  left: 62%;
  top: 2%;
  color: rgba(0,0,0,0.6);
  transition: color 0.2s ease;
}

.disclaimer:hover {
  color: rgba(0,0,0,1.0);
}

.green-button{
  background-color: #c2fbd7;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
  color: green;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.green-button:hover {
  box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}

.red-button {
  background-color: #ffcccc;
  border-radius: 100px;
  box-shadow: rgba(255, 99, 71, .2) 0 -25px 18px -14px inset,
              rgba(255, 99, 71, .15) 0 1px 2px, 
              rgba(255, 99, 71, .15) 0 2px 4px, 
              rgba(255, 99, 71, .15) 0 4px 8px, 
              rgba(255, 99, 71, .15) 0 8px 16px, 
              rgba(255, 99, 71, .15) 0 16px 32px;
  color: #a00;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.red-button:hover {
  box-shadow: rgba(255, 99, 71, .35) 0 -25px 18px -14px inset,
              rgba(255, 99, 71, .25) 0 1px 2px, 
              rgba(255, 99, 71, .25) 0 2px 4px, 
              rgba(255, 99, 71, .25) 0 4px 8px, 
              rgba(255, 99, 71, .25) 0 8px 16px, 
              rgba(255, 99, 71, .25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}

.logo{
  position: absolute;
  left:1%;
  top: 2%;
  font-size: 1.5rem;
  color: #333333;
  background-color: rgb(255,255,255);
  font-family: 'Georgia', serif;
  font-weight: bold;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  width: 7.5%;
  white-space: normal;
  padding:4px;
  transition: background 0.3s ease, transform 0.2s ease;
  border: none;
  border-radius: 8px;
}

.logo:hover {
  background-color: rgb(240,240,240);
  transform: scale(1.05);
}

.logo i {
  font-size: 28px;
  color: white;
}
